container_commands:
  01composer_update:
    command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update"
  02composer_dump_autoload:
    command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar dump-autoload -o"
  03artisan_migrate:
    command: "php artisan migrate"
    leader_only: true
  04set_time_zone:
    command: "ln -f -s /usr/share/zoneinfo/US/Eastern /etc/localtime"