files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_create_public_symlink.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      mkdir -p /efs/public/modules
      chown -R webapp /efs
      chgrp -R webapp /efs
      ln -sf /efs/public /var/app/current/public/storage

